@import url("https://fonts.googleapis.com/css?family=Questrial");
body {
  font-family: "Questrial", sans-serif;
  background-color: #cccccc; }

.container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center; }

.videoPlayer {
  width: 800px;
  height: 500px;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
  background-color: #000000;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5); }
  .videoPlayer.showControls .videoTitle {
    top: 0; }
  .videoPlayer.showControls .controls {
    bottom: 0; }

.videoTitle {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 100;
  top: -50%;
  padding: 0.5rem;
  justify-content: center;
  display: flex;
  background-color: rgba(0, 0, 0, 0.6);
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  transition: all ease 0.2s; }

video {
  max-width: 100%; }

.videoPlayer .controls {
  position: absolute;
  bottom: -50%;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  transition: all ease 0.2s; }
  .videoPlayer .controls .topControls {
    padding: 1rem;
    position: relative; }
  .videoPlayer .controls .bottomControls {
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: space-between;
    position: relative; }

.topControls {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .topControls .startTime .endTime {
    flex-basis: 10%;
    flex-shrink: 1;
    display: inline-flex;
    justify-content: center;
    color: #acafb6; }
  .topControls .seekbar {
    height: 6px;
    background-color: rgba(172, 175, 182, 0.6);
    flex-basis: 80%;
    border-radius: 5px;
    display: flex; }
    .topControls .seekbar .progressBar {
      height: 100%;
      width: 50%;
      left: 0;
      background-color: rgba(255, 255, 255, 0.6);
      border-radius: 5px;
      position: relative;
      display: inline-flex; }
      .topControls .seekbar .progressBar::after {
        content: "";
        position: relative;
        height: 4px;
        width: 4px;
        top: 0;
        bottom: 0;
        margin: auto;
        right: -4px;
        border-radius: 500px;
        transition: all ease 0.2s; }
    .topControls .seekbar:hover {
      cursor: pointer; }
      .topControls .seekbar:hover .progressBar::after {
        height: 10px;
        width: 10px;
        background-color: white; }

.bottomControls .volumeCtrl {
  display: inline-flex;
  align-items: center;
  flex-basis: 15%;
  justify-content: space-between; }
  .bottomControls .volumeCtrl .icon {
    color: #acafb6;
    margin-right: 0.5rem;
    font-size: 1.2rem; }
  .bottomControls .volumeCtrl .seekbarSection {
    display: inline-flex;
    flex-direction: column;
    flex-basis: 80%; }
    .bottomControls .volumeCtrl .seekbarSection .wrapper {
      display: inline-flex;
      justify-content: space-between; }
      .bottomControls .volumeCtrl .seekbarSection .wrapper .lbl, .bottomControls .volumeCtrl .seekbarSection .wrapper .percentage {
        font-size: 0.8rem;
        color: #acafb6;
        text-transform: capitalize; }
    .bottomControls .volumeCtrl .seekbarSection .seekbar {
      margin-top: inline-flex;
      height: 5px;
      border-radius: 2px;
      flex-basis: 100%;
      background-color: rgba(255, 255, 255, 0.6);
      position: relative; }
      .bottomControls .volumeCtrl .seekbarSection .seekbar .progressBar {
        height: 100%;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.6);
        border-radius: 2px; }
        .bottomControls .volumeCtrl .seekbarSection .seekbar .progressBar::after {
          content: "";
          position: absolute;
          height: 4px;
          width: 4px;
          top: 0;
          bottom: 0;
          right: 0px;
          margin: auto;
          background-color: rgba(255, 255, 255, 0.1);
          border-radius: 500px; }
      .bottomControls .volumeCtrl .seekbarSection .seekbar:hover {
        cursor: pointer; }
        .bottomControls .volumeCtrl .seekbarSection .seekbar:hover .progressBar::after {
          height: 10px;
          width: 10px;
          background-color: white; }

.bottomControls .playbackCtrl {
  flex-basis: 70%;
  display: inline-flex;
  justify-content: space-evenly; }
  .bottomControls .playbackCtrl .btn {
    font-size: 2rem;
    background-color: transparent;
    outline: 0;
    border: none;
    color: #acafb6;
    transition: all ease 0.2s; }
    .bottomControls .playbackCtrl .btn:hover {
      cursor: pointer; }
      .bottomControls .playbackCtrl .btn:hover .fa {
        color: #e2e3e6; }
    .bottomControls .playbackCtrl .btn.play .fa-pause {
      display: none; }
    .bottomControls .playbackCtrl .btn.pause {
      transform: rotate(180deg); }
      .bottomControls .playbackCtrl .btn.pause .fa-play {
        display: none; }
    .bottomControls .playbackCtrl .btn.forward, .bottomControls .playbackCtrl .btnbackward {
      font-size: 1.5rem; }

.bottomControls .fullscreenCtrl {
  flex-basis: 15%;
  display: inline-flex;
  justify-content: flex-end; }
  .bottomControls .fullscreenCtrl .fullscreen {
    font-size: 1.2rem;
    border: none;
    background-color: transparent;
    color: #acafb6;
    outline: 0; }
    .bottomControls .fullscreenCtrl .fullscreen:hover {
      cursor: pointer; }
      .bottomControls .fullscreenCtrl .fullscreen:hover .fa {
        color: #e2e3e6; }

/*# sourceMappingURL=main.css.map */

